.scrolling-text-container {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  column-gap: 5vh;
  border-top: 5px solid black;
  z-index: 9998;
}

.row-1 {
  top: 0vh;
}

.row-2 {
  top: 12vh;
}

.row-3 {
  top: 24vh;
}

.row-4 {
  top: 36vh;
}

.row-5 {
  top: 48vh;
}

.row-6 {
  top: 60vh;
}

.row-7 {
  top: 72vh;
}

.row-8 {
  top: 84vh;
}

.scrolling-text-wrapper-left {
  display: flex;
  column-gap: 5vh;
  animation: scrollLeft 30s linear infinite;
}

.scrolling-text-wrapper-right {
  display: flex;
  column-gap: 5vh;
  animation: scrollRight 40s linear infinite;
}

.scrolling-text {
  font-size: 8vh;
  color: rgb(0, 0, 255);
  font-family: 'bauhaus93';
  font-style: italic;
  white-space: nowrap;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 1000px) {
  .scrolling-text {
    font-size: 6vh;
  }
}
