@keyframes slideUp {
  0% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-50%);
  }
}

.hero-wrapper {
  z-index: 1;
}

.image2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -6vh;
  width: 20vw;
  animation: 10s ease 0s 1 slideUp;
  transform: translate(-50%);
}

@media screen and (max-width: 1000px) {
  .image2 {
    width: 22vh;
    margin-top: -2vh;
  }

  @keyframes slideUp {
    0% {
      transform: translate(-50%, 350%);
    }
    100% {
      transform: translate(-50%);
    }
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .image2 {
    width: 40vh;
    margin-top: -4vh;
  }
  @keyframes slideUp {
    0% {
      transform: translate(-50%, 150%);
    }
    100% {
      transform: translate(-50%);
    }
  }
}

@media screen and (min-width: 1001px) and (max-width: 1440px) and (orientation: landscape) {
  .image2 {
    margin-top: -4vh;
    width: 30vh;
  }

  @keyframes slideUp {
    0% {
      transform: translate(-50%, 250%);
    }
    100% {
      transform: translate(-50%);
    }
  }
}
