.blur {
  filter: blur(5px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(99, 99, 99, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-family: "Urbanist", sans-serif;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  backdrop-filter: blur(5px);
  padding: 20px;
  text-align: center;
  color: #fff;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
  border-radius: 10px;
  border: 2px solid black;
}

.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  animation: scrollLeft 3s linear infinite;
  display: inline-block;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}